body{
    color: white;
    font-size: large;
    font-family: 'Oswald', sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2020/06/11/02/12/food-5284892_1280.jpg);
    background-color: #4c85db;
    background-blend-mode: screen;
    
}

.lefty{
    margin-left: 15%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.center{
    margin-left: 15%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}


.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav il {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}
.main-footer {
    background-blend-mode: screen;
    padding: .25em 0;
    position: absolute;
    bottom: 0;
    margin-left: 25%;
   
}

.main-footer-container {
    display: flex;
    
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: center;
    
}

.footer-nav il {
    padding: 0 4em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.vitborder{
    border: 0.5px solid white;
}

.höger{
    float: right;
    margin-right: 15%;
    margin-top: 7%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}