.lefty{
    margin-left: 15%;
    
}

.center{
    margin-left: 15%;
}

.höger{
    float: right;
    margin-right: 15%;
    margin-top: 3%;
    
}

textarea:focus{
    background-color: #eeff00;
}

input:focus{
    background-color: #e92424;
}

.map {
    position: absolute;
    left: 40%;
    bottom: 20%;
}

#adressImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    margin: 10px;
    border-radius: 50%;
}

