.lefty{
    margin-left: 15%;
    
}

.center{
    margin-left: 15%;
}

.höger{
    float: right;
    margin-right: 15%;
    margin-top: 3%;
    
}

textarea:focus{
    background-color: #eeff00;
}

input:focus{
    background-color: #e92424;
}

#adressImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    margin: 10px;
    border-radius: 50%;
}

/*
* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color:mintcream;
}
#kapetLogga {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 90%;
    margin-top: 3.5%;
}
       
.kapet{
    text-align: center;
    font-size: 100px;
    color:rgb(255, 255, 255); 
}

header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url(bilder/header-background.jpg);
    background-blend-mode: multiply;
    padding-bottom: 30px;
    background-size: cover;
    height: 300px;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav il {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}
.main-footer {
    background-image: url(bilder/header-background.jpg);
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    padding: .25em 0;
    bottom: 0;
    width: 100%;
   
}

.main-footer-container {
    display: flex;
    
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: center;
    
}

.footer-nav il {
    padding: 0 4em;
}

.footer-nav img {
    width: 40px;
    height: 40px;
}

