* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}
#kapetLogga {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 90%;
    margin-top: 2.7em;
}
.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}


.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav il {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.nav a:active {
    background-color: #E51B23;
}

p {
    color: #000;
}

:not(p) {
    color: #83483d;
}


header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url(bilder/header-background.jpg);
    background-blend-mode: multiply;
    padding-bottom: 30px;
    background-size: cover;
    height: 300px;
}

.logo {
    height: 40px;
}


.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 1.5em;
}

.winnerInfo {
    padding-top: 2em;
    padding-bottom: 2em;
}

.main-footer {
    background-image: url(bilder/header-background.jpg);
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    display: block;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-top: auto;
}

.main-footer-container {
    display: flex;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: center;
}

.footer-nav il {
    padding: 0 4em;
}

.footer-nav img {
    width: 40px;
    height: 40px;
}

.main-content {
    padding: 2em; 
}

.main-content-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
}

.main-content-container div {
    padding: 0 4em;
}

.main-content-container img {
    float: left;
    height: 200px;
}